#menu-cover
  #menu
    %h1 How Many Players?
    %input#numPlayers{placeholder:'1 or 2'}
    %button#start Begin
#board
  %svg#drawing-board
  #box1.square{'data-box':'0'}
  #box2.square{'data-box':'1'}
  #box3.square{'data-box':'2'}
  #box4.square{'data-box':'3'}
  #box5.square{'data-box':'4'}
  #box6.square{'data-box':'5'}
  #box7.square{'data-box':'6'}
  #box8.square{'data-box':'7'}
  #box9.square{'data-box':'8'}
